<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.ILoginInfoMapper">

    <select id="findLoginInfoByUsername" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT 1
        FROM fly_next_login_info
        WHERE username = #{username} LIMIT 1
    </select>



</mapper>