<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IAdmAreaOpenMapper">

    <!-- 获取省级集合 -->
    <select id="findProvList" resultType="com.github.itdachen.admin.sdk.vo.AdmAreaModel">
        SELECT id   AS id,
               name AS title,
               '00' AS parentId,
               deep AS level
        FROM fly_next_adm_area
        WHERE deep = '0'
          AND pid = '0'
    </select>

    <!-- 获取市州集合 -->
    <select id="findCityList" parameterType="java.lang.String"
            resultType="com.github.itdachen.admin.sdk.vo.AdmAreaModel">
        SELECT id   AS id,
               name AS title,
               '00' AS parentId,
               deep AS level
        FROM fly_next_adm_area
        WHERE deep = '1'
          AND pid = #{provId}
    </select>


    <!-- 获取区县集合 -->
    <select id="findCountyList" parameterType="java.lang.String"
            resultType="com.github.itdachen.admin.sdk.vo.AdmAreaModel">
        SELECT id   AS id,
               name AS title,
               '00' AS parentId,
               deep AS level
        FROM fly_next_adm_area
        WHERE deep = '2'
          AND pid = #{cityId}
    </select>


    <!-- 获取乡镇集合 -->
    <select id="findTownList" parameterType="java.lang.String"
            resultType="com.github.itdachen.admin.sdk.vo.AdmAreaModel">
        SELECT id   AS id,
               name AS title,
               '00' AS parentId,
               deep AS level
        FROM fly_next_adm_area
        WHERE deep = '3'
          AND pid = #{countyId}
    </select>

    <!-- 获取街道集合 -->
    <select id="findStreetList" parameterType="java.lang.String"
            resultType="com.github.itdachen.admin.sdk.vo.AdmAreaModel">
        SELECT id   AS id,
               name AS title,
               '00' AS parentId,
               deep AS level
        FROM fly_next_adm_area
        WHERE deep = '4'
          AND pid = #{townId}
    </select>


</mapper>